@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
    background-color: #303841;
    font-family: 'Roboto Mono', monospace;
    color: #eeeeee;
}
h1 {
    color: #ff5722;
}
.centered {
    margin: 0 auto;
    text-align: center;
}
.bordered {
    border: 1px solid #00adb5;
    border-radius: 10px;
    padding: 1rem;
}
.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
#tabs {
    list-style: none;
    padding: 1rem;
}
#tabs li {
    display: inline;
    padding: 0 10%;
    border: 1px solid #00adb5;
    border-radius: 1rem;
    margin: 2rem 2rem;
}
#tabs li:hover {
    background-color: #00adb5;
}

  